<!DOCTYPE html>
	<html>
	<head>
	<meta charset="UTF-8">

		<title>Lemon | Weather</title>

		<link rel="stylesheet" href="css/reset.css" type="text/css"/>
		<link rel="stylesheet" href="css/master.css" type="text/css"/>
		<link rel="stylesheet" href="css/fonts.css" type="text/css"/>

	</head>

		<body>
			<div class="head-bar"> &nbsp; </div>
			<img class="lemon-hack" src="./images/lemonhack.png">

			<p class="what-weather">What's the weather?</p>
			<br>
			<div class=location-form>
			<fieldset>
				<legend class="change-location"> Change Location: </legend>
				<br>
					City: <input type = "text" id = "city" value =""> &nbsp; &nbsp; &nbsp;
					US State/Country: <input type = "text" id = "region" value ="">
				<button>
					Submit
				</button>
			</fieldset>
		</div>

			<div id="weather-wrapper" class="hide">


				<div class="weather">
					<script src="js/jquery-2.1.4.min.js"></script>
					<script src="js/jquery.simpleWeather.js"></script>
					<script src="js/weather.js"></script>
					<div id="weather"></div>



				</div>
				<div class="twitter">
					<a href ="https://twitter.com/intent/tweet?button_hashtag=SharkHack&text=Checkout%20the%20temperature%20with%20our%20website!" class="twitter-hashtag-button">Tweet #SharkHack</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>
		</body>

</html>
